@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #57bee6;
    --secondary: rgb(254, 174, 73);
    --false-dark-gray: #3d424a;
    --false-light-gray: #c0c0be;
    --false-white: #e6e5de;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

*::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 6px;
    border: 3px solid transparent;
    background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgba(254, 172, 73, 0.642);
}
