.input {
    background: none;
    border-bottom: solid 2px var(--false-dark-gray);
    transition: 0.2s;
    color: var(--false-dark-gray);
}

.input:active,
.input:focus,
.input:hover {
    outline: none;
    border-bottom-color: var(--secondary);
}

.submit {
    box-shadow: 2px 2px 2px var(--secondary);
    transition: 0.2s;
}

.submit:active,
.submit:focus,
.submit:hover {
    background: var(--secondary);
    outline: none;
}

.line {
    position: relative;
    height: 1px;
    width: 100%;
    background-color: var(--false-dark-gray);
    margin-block: 2rem;
}
